<div class="breadclip">
    <i class="homeIcon inline"></i><a href="#">首页</a>
</div>
<div class="pd20">
    <div class="inp_tablebox mg_t10">
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <th width="15%">任务名称：</th>
                <td width="35%">
                    <input type="" value="" name="text" class="inpcom w180" /></td>
                <th width="15%">任务参数：</th>
                <td width="35%">
                    <input type="" value="" name="text" class="inpcom w180" /></td>
            </tr>
            <tr>
                <th width="15%">程序集名称：</th>
                <td width="35%">
                    <input type="" value="" name="text" class="inpcom w180" /></td>
                <th width="15%">任务参数：</th>
                <td width="35%">
                    <input type="" value="" name="text" class="inpcom w180" /></td>
            </tr>
            <tr>
                <th width="15%">任务名称：</th>
                <td width="35%">
                    <input type="" value="" name="text" class="inpcom w180" /></td>
                <th width="15%">任务状态：</th>
                <td width="35%">
                    <div class="radio i-checks">
                        <label>
                            <input type="radio" disabled checked value="0" name="Status"><i></i>运行
                       
                        </label>
                        <label>
                            <input type="radio" disabled value="1" name="Status"><i></i>停止
                       
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th width="15%">Cron表达式：</th>
                <td width="35%">
                    <input type="" value="" name="text" class="inpcom w180" /></td>
                <th width="15%">表达式说明：</th>
                <td width="35%">
                    <input type="" value="" name="text" class="inpcom w180" /></td>
            </tr>
            <tr>
                <th>类名(包含命名空间)：</th>
                <td>
                    <textarea class="textareacom w220"></textarea></td>
            </tr>
            <tr>
                <th></th>
                <td colspan="3"><a href="#" class="btncom w120 btn_bg2 inline"><span>提 交</span></a></td>
            </tr>
        </table>
    </div>
</div>
